@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-color: #F2CE97;
}

#conteneur {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    max-width: 600px;
    height: 400px;
    margin: 100px auto;
}

#titre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #474956;
    color: white;
    width: 40%;
    padding: 20px;
    height: 100%;
}

#titre h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#titre hr {
    background-color: #F2CE97;
    border: none;
    margin: 20px 0 0 0;
    width: 40px;
    height: 4px;
}

.titre {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#user {
    display: flex;
    align-items: center;
}

#user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

#texte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    height: 100%;
    width: 60%;
}

#texte p {
    margin-bottom: 15px;
    padding: 10px;

}

#texte p > span {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 20px;
    box-shadow: 0px -10px 5px rgb(218, 210, 210);
}

#menu span {
    font-weight: bold;
}

#image{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

#image span {
    color: #f1ecec;
}